.box {
    border: 2px solid #F0F0F0;
    margin: 10px;
    padding: 5px;
}
.image{
    width: 50%;
}
.albumArt {
    width: 100%;
    background-color: #F0F0F0;
    padding: 15px;
    color: #9B9B9B;
}

.albumName {
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 22px;
    font-size: 14px;
}
.albumButton {
    width: 90%;
    cursor: pointer;
    padding: 2px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}
.pagination>li {
    display: inline-block;
    margin-right: -6px;
}
.pagination>li>a:focus, 
.pagination>li>a:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}


.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover {
    color: #777;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover {
    z-index: 3;
    color: #fff;
    cursor: pointer;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination>li>a {
    position: relative;
    float: left;
    cursor: pointer;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}